<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
</head>

<body>
    <form class="chat_message_form" method="POST" onsubmit="return sendMessage(event);">
        {% csrf_token %}
        {{ form }}
    </form>
    <ul id="group_messages">
        {% for message in group_messages %}
        {% if message.sender == user %}
        <li>{{ message.sender.username }}: {{ message.content }}</li>
        {% else %}
        <li>{{ message.sender.username }}: {{ message.content }}</li>
        {% endif %}
        {% endfor %}
    </ul>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const protocol = window.location.protocol === "https:" ? "wss" : "ws";
        const chatSocket = new WebSocket(`${protocol}://${window.location.host}/ws/chat/${roomName}/`);

        chatSocket.onopen = function (e) {
            console.log('Chat socket connected');
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            document.querySelector('#group_messages').innerHTML += `<li>${data.sender.username}: ${data.content}</li>`;
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        function sendMessage(event) {
            event.preventDefault();

            const messageInputDom = document.querySelector('input[name="content"]');
            const message = messageInputDom.value;

            if (message.trim()) {
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
            }
        }
    </script>
</body>

</html>
